.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card.lift {
    text-decoration: none;
    color: inherit;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
    padding: 0;
}

.pd-0{padding:0;}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: 0.55rem;
    margin-top: 0.4rem;
}
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-footer {
    padding: 1rem 1.35rem;
    /* background-color: rgba(33, 40, 50, 0.03);*/
    background-color: rgba(11, 111, 255,0.03);
    border-top: 1px solid rgba(33, 40, 50, 0.125);
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  /*  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

    .lift:hover {
      /*  transform: translateY(-0.3333333333rem);*/
        /*box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);*/
      /*  box-shadow: 1px 0.5rem 1rem 3px rgb(21 102 219 / 38%);*/
        box-shadow: 2px 1px 14px 3px rgb(175 203 243 / 38%);
    }

    .lift:active {
        transform: none;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    }

.lift-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2);
}

    .lift-sm:hover {
        transform: translateY(-0.1666666667rem);
        box-shadow: 0 0.25rem 1rem 0 rgba(33, 40, 50, 0.25);
    }

    .lift-sm:active {
        transform: none;
        box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2);
    }

.card.lift {
    text-decoration: none;
    color: inherit;
}

.post-preview-img {
    height: 220px;
    border-radius: 4px 4px 0 0;
}

.w-250 {
    max-width: 450px;
}

.g-0 {
    margin-left: 0;
    margin-right: 0;
}

.post-preview .post-preview-meta .post-preview-meta-img {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.post-preview .post-preview-meta {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.post-preview-featured .post-preview-featured-img {
    height: 20rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px 0 0 4px;
}

.post-preview-right{
    float:right;
}
.post-preview-meta-details-price{
    font-size: 30px;
}

.minH100 {
    min-height: 100px;
}

.minH220 {
    min-height: 220px;
}

.padding {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

.TextSpecs {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col30 {
    width: 30%;
}

.panel-default {
    width: 100%;
}

#techtbl ul {
    list-style: none;
    padding-left: 5px;
    margin-left: 0;
}

@media only screen and (max-width: 980px) {
    .equal {
        display: block;
    }

    .minH220 {
        min-height: 120px;
    }
}
@media only screen and (max-width: 1324px) {

    .cardnews-title {
        font-size: 1.17rem;
    }

    .image-tile-mob:hover {
        -webkit-transition: transform ease-out 3s;
        -moz-transition: transform ease-out 3s;
        -ms-transition: transform ease-out 3s;
        -o-transition: transform ease-out 3s;
        transition: transform ease-out 3s;
        transform: scale(1.3);
    }
}
