ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.service-about p {
    line-height: 28px;
}

.service-arrow .block {
    padding: 40px 30px;
}

    .service-arrow .block i {
        font-size: 40px;
    }

    .service-arrow .block p {
        color: #fff;
    }

.call-to-action .btn-main, .call-to-action .btn-transparent, .call-to-action .btn-small {
    padding: 15px 35px;
    font-size: 12px;
    margin-top: 30px;
}

.service {
    text-align: center;
    padding: 90px 0;
}

    .service .service-item {
        padding-bottom: 30px;
    }

        .service .service-item i {
            font-size: 60px;
            color: #655E7A;
        }

        .service .service-item h4 {
            padding-top: 15px;
            margin: 0;
            font-weight: 500;
            text-transform: uppercase;
        }

        .service .service-item p {
            padding-top: 10px;
            margin: 0;
        }

.testimonial {
    padding: 100px 0;
}

    .testimonial .block h2 {
        line-height: 27px;
        color: #5C5C5C;
        padding-top: 110px;
    }

    .testimonial .block p {
        padding-top: 50px;
        color: #7B7B7B;
    }

    .testimonial .counter-box li {
        width: 50%;
        float: left;
        text-align: center;
        margin: 30px 0 30px;
    }

    .testimonial .testimonial-carousel {
        border: 1px solid #dedede;
        padding: 24px;
    }

        .testimonial .testimonial-carousel i {
            font-size: 35px;
        }

        .testimonial .testimonial-carousel p {
           
            padding-bottom: 20px;
        }

        .testimonial .testimonial-carousel .user img {
            padding-bottom: 0px;
            border-radius: 500px;
            width: 80px;
            display: inline-block;
        }

        .testimonial .testimonial-carousel .user p {
            /*font-family: "Roboto", sans-serif;*/
            padding-bottom: 0;
            margin-top: 6px;
            font-size: 12px;
            line-height: 20px;
        }

            .testimonial .testimonial-carousel .user p span {
                display: block;
                color: #353241;
                font-weight: 600;
            }

        .testimonial .testimonial-carousel .owl-carousel .owl-pagination div {
            border: 1px solid #1D1D1D;
            border-radius: 500px;
            display: inline-block;
            height: 10px;
            margin-right: 15px;
            width: 10px;
        }

            .testimonial .testimonial-carousel .owl-carousel .owl-pagination div.active {
                background: #5C5C5C;
                font-size: 30px;
                display: inline-block;
                border: 0px;
            }

.counter-box i {
    font-size: 35px;
}

.counter-box h4 {
    font-size: 30px;
    font-weight: bold;
}

.counter-box span {
    color: #555;
}

