@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Iceland&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Quicksand&display=swap');
@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
    /* background-color: #efefef;*/
    height: 100%;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Nunito Sans","DM Sans","Poppins","Quicksand","Open Sans","Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nunito-sans-light {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h3,.h3{
    font-size: 1.45rem;
}

.form-control {
    font-size: 0.85rem;
}

.container-fluid > .row > .col-* {
    padding-right: 0;
    padding-left: 0;
   
}

.minHeight{
     min-height: 700px;

}
/*p {
    font-size: 16px;
}*/

.hide{ display:none!important;}

.srchbar {
    position: absolute;
    right: 20px;
    top: 12px;
}

.srchbx{
    width:200px;
}

.txtbg{


}

.f18{
    font-size:18px;
}

.img-mg5 {
    margin-left: 5%;
    margin-right: 5%;
}
.imgw {
    width: 80%;
   display: block;
  margin-left: auto;
  margin-right: auto;
 }

.red {
    color: #ab0c0c;
}
.brd {
    border: 1px solid #ddd;
    padding: 0 20px 20px 20px;
    border-radius: 6px;
}
.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pd-10{padding:10px;}
.pd-20{padding:20px;}
.pd-30{padding:30px;}
.pt-10 { padding-top: 10px;}
.pt-20 {  padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40 { padding-top: 40px;}
.pt-50 { padding-top: 50px;}

.mt-10{ margin-top:10px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}
.mt-50 { margin-top: 50px;}
.mb-10 {  margin-bottom: 10px;}
.mb-20 {  margin-bottom: 20px;}
.mb-30 {  margin-bottom: 30px;}
.mb-50 {  margin-bottom: 50px;}

.mt-0{ margin-top:0;}
.mg-20 { margin: 20px;}
.mt-20 {  margin-top: 20px;}
.ml-20{margin-left:20px;}
.ml-30 {  margin-left: 30px;}
.mt-80{margin-top:80px;}
.mt-120 { margin-top: 120px;}
.mb-120 { margin-bottom: 120px;}
.ml-50{ margin-left:50px;}

.input-label, .control-label {
    position: relative;
    top: 12px;
    left: 15px;
    background: #fff;
    font-size: .8rem;
    padding-left: 5px;
    padding-right: 5px;
    color: #73a1e3;
    border-radius: 8px;
    z-index: 1;
}

#lnbox .form-control, .form-control.box {
    height: calc(1.5em + 1.35rem);
    padding-top: .75rem;
}

.float-right{
    float:right;
}
.pull-right, .g-recaptcha {
    float: right;
}
.nldricon {
    font-size: 34px;
    margin-right: 4px;
    width: 38px;
}
.navbar {
    padding: 2px;
    margin-bottom: 0;
    /*border-bottom: 1px solid #665a7c;*/
   /* border-bottom: 1px solid #575062;*/
}
.navbar-brand {
    float: left;
    height: 55px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default{
    background:#fff;
}

.navbar-header {
    float: inherit;
}
.infopn {
    position: absolute;
    right: 25px;
    padding-top: 4px;
    top: 75px;
}

.mnuBtn {
    color: #d7d1ff;
    background-color: #222;
    border: none;
    display: none;
}

.mnuBtnWt {
    color: #111;
    background-color: #fff;
    border: none;
}

    .pattern2 {
    background-image: url(/img/pattern-2.png);
    background-size: 6px;
    background-color: #25252a;
}
.deepblulogo {
    width: 30px;
    

 }

img {
    display: inline-block;
    vertical-align: middle;
}

.cmstitle {
       font-size: 33px;
    color: #323233;
   /* background: -webkit-linear-gradient(#fdfdfd, #343537);
    -webkit-background-clip: text;
     -webkit-text-fill-color: #393939; */
    font-family: 'Iceland', cursive;
    padding: 4px;
}
.mobtitle {
    font-size: 20px;
    color: #0c0c0c;
    vertical-align: middle;
}

.nldrspan {
    border: 2px solid #8e7ea3;
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: rgb(255 255 255);
    box-shadow: 5px 3px 11px 2px #c2b9d385
}

.pattern {
    background-image: url(/img/pattern-2.png);
    background-size: 5px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bannertron {
    padding: 15px 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    color: #fff;
    min-height: 120px;
    background-color: #4c4141;
}

.banpad{ padding: 30px 25px;}

.bannerpad {
    padding:40px;
    margin-bottom: 0;
    line-height: 1.5;
    color: #fff;
    min-height: 120px;
    background-color: #4c4141;
}
.banner-frm-pb {
    background: linear-gradient(rgb(32 28 46 / 64%),rgb(19 15 22 / 57%)),url(../img/banner-dev.jpg) no-repeat;
    background-position: right;
    background-position-x: initial;
    background-size: cover;
    align-items: center;
}

.banner-frm-fade {
    background: url(../img/img26.jpg) #295ac1 no-repeat;
    /*    background: url(../img/25.png) #0b52d570 no-repeat;*/
    background-position: right;
    background-position-y: 59%;
    background-size: cover;
    align-items: center;
    background-blend-mode: hard-light;
}


/*.banner-frm-fade {
    background: linear-gradient(rgb(39 35 50 / 72%),rgb(58 55 60 / 65%)),url(../img/25.png) no-repeat;
    background-position-y: 59%;
    background-position-x: center;
    background-size: cover;
    align-items: center;
}*/
.scTop {
    position: fixed;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    color: #30323a;
}

input {
    margin-bottom: 5px;
}

.btn:disabled {
    opacity: 0.35;
}
    .btn:disabled:hover {
      color: #494747;
        background-color: #ffffff;
    }

.btn {
    background-color: #ffffff;
    color: #0a1562;
    border-color: #575f66;
    border-radius: 0;
    cursor: pointer;
    /*  padding: 7px 10px 7px 10px;*/
    transition: background .4s cubic-bezier(.645,.045,.355,1) 0s,color .4s cubic-bezier(.645,.045,.355,1) 0s,border .4s cubic-bezier(.645,.045,.355,1) 0s;
}

.btnpd {
    padding: 10px 10px;
}

.btn:hover, .btn:focus {
    color: #fff;
    background-color: #202020;
    border-color: #575f66;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(22, 188, 252, 0.37);
    box-shadow: 1px 1px 7px 1px rgba(22, 189, 253, 0.38);
}

.btn-w100{
    min-width: 130px;
}

.btn a {
    color: #fff;
    cursor: pointer;
}

.btn-sml {
    height: 32px;
    font-size: 13px;
    border-color: #97aec3;
}

.btn:focus {
    outline: thin dotted #333;
    outline-offset: 0;
}

.d-row {
    justify-content: space-between;
}

.btn-a {
    color: #fff;
    background-color: rgb(57, 100, 137);
}
    /*.btn-a:hover {*/
    /* background-color: rgb(142, 141, 135);*/
    /*}*/
.inline-block{
    display:inline-block;
}


.form-label {
    background-color: #f3f5f9;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

    .btn-a.del {
        color: #FFF;
        background-color: rgb(105, 5, 13);
    }

        .btn-a.del:hover {
            color: #FFF;
            background-color: rgb(130, 32, 38);
        }

.brd-g {
    border: 1px dashed #dbdbdb;
}

.btn.btn-thin {
    font-size: 14px;
    padding: 4px 30px;
    border: 1px solid;
    /*border-radius: 4px;*/
}

.ba-btn2[role=button] {
    /*font-family: open-sans-v15-latin-regular,Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    letter-spacing: .4px;
    border: 1px solid #2e9932;
    border-radius: 2px;
    background-color: transparent;
    color: #333;
    transition: background .4s cubic-bezier(.645,.045,.355,1) 0s,color .4s cubic-bezier(.645,.045,.355,1) 0s,border .4s cubic-bezier(.645,.045,.355,1) 0s;
    padding: 16px 40px;
    font-size: 14px;
    line-height: 1.5rem;
    min-height: auto;
    height: auto;
    display: inline-block;
}

.ba-btn[role=button] {
    /* font-family: open-sans-v15-latin-regular,Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    letter-spacing: .4px;
    border: 1px solid #3d3d48;
    border-radius: 2px;
    background-color: transparent;
    color: #333;
    transition: background .4s cubic-bezier(.645,.045,.355,1) 0s,color .4s cubic-bezier(.645,.045,.355,1) 0s,border .4s cubic-bezier(.645,.045,.355,1) 0s;
    padding: 16px 40px;
    font-size: 14px;
    line-height: 1.5rem;
    min-height: auto;
    height: auto;
    display: inline-block;
}

    .ba-btn[role=button]:hover {
        background: #3d3d48;
        color: #fff !important;
        text-decoration: none;
    }

.ba-btn2[role=button]:hover {
    background: #2a78cd;
    border: 1px solid #2e5c99;
    color: #fff !important;
    text-decoration: none;
}


.ba-btn[role=button]:focus {
    border: 1px solid #3472c4;
    outline-color: #3472c4;
}

.ba-btn.btn-thin {
    padding: 10px 40px;
}

.ba-btn.sml {
    padding: 10px 20px;
}


.ba-btn.vsml {
    padding: 4px 20px;
    font-size: 14px;
}


[role="button"] {
    cursor: pointer;
}

.toggle-group .btn {
    background-color: #e2e2e2;
}

    .toggle-group .btn:hover {
        background-color: #e2e2e2;
    }

.toggle-group .btn-toggle {
    background-color: #077009;
}

    .toggle-group .btn-toggle:hover {
        background-color: #076709;
    }

.toggle-group .btn-red {
    background-color: #a82a2a;
}

    .toggle-group .btn-red:hover {
        background-color: #932222;
    }

.form-control {
    height: calc(1.5em + 0.75rem );
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #ececec;
    background-color: #223a6d;
    border-color: #223a6d;
    outline: 0;
}


.btn-addon {
    height: 33px;
    border: 1px solid #a4a4a4;
    border-radius: 0 4px 4px 0;
}

    .btn-addon:hover {
        border-color: #adadad;
    }


.nav-right{
    float:right;
}

.pnclose {
    position: absolute;
    right: 10px;
    top: 5px;
}

.brd-btm {
    border-bottom: 1px solid #d4c8e3;
}


.tbx > .row > [class*="col-"] {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}


.tbl > .row.brd-btm {
    background: #fafafa;
    line-height: 25px;
    padding: 3px;
}

.pnPosBtmRt {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.ptx-5{
    padding-top:5px;
}

.loaderpks {
    font-size: 2rem;
    color: #ccc;
    padding: 20px;
    border: 1px dotted #ccc;
}