
#widget img{ min-width: 50px; min-height:50px;}

#content img {
    width:100%;
}

.pd-0{ padding:0;}

 .imgw{
        max-width: 100%;
 }

.red {
    color: #a82a2a;
    
}
.alert-beta {
    border: 1px solid #9408ce;
    color: #37332a;
    background-color: #f3dfff6e;
}
.alert-danger {
    border: 1px solid #d50808;
    color: #401c1c;
    background-color: #fff8f8;
}

.alert-warning {
    border: 1px solid #cea908;
    color: #37332a;
    background-color: #fffdf7;
}

    .alert i {
        position: absolute;
        margin-top: 4px;
    }

    .alert div {
        display: inline-block;
        padding-left: 25px;
    }

.info-panel {
    border: 1px solid #2c749b;
    color: #303133;
    background-color: #fafcff;
}

.green {
    color: #3da82a;
}

.action-go {
    border: 1px solid #0e861d;
    color: #161616;
    background-color: #f8fff8;
    padding: 10px;
}

.action-warning {
    border: 1px solid #cea908;
    color: #37332a;
    background-color: #fffdf7;
}

.action i {
    position: absolute;
    margin-top: 4px;
}

.action div {
    display: inline-block;
    padding-left: 25px;
}

.notice {
    border: 1px solid #2c749b;
    color: #505c73;
    background-color: #fafcff;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-block;
}

/* techspecs*/

.tb-no-pad {
    padding: 0 !important;
}

hcode {
    padding: 2px 4px;
    font-size: 1rem;
    color: #3a5083;
    font-weight: 400;
    white-space: nowrap;
}

code {
   
    padding: 2px 4px;
    font-size: 90%;
    color: #182450;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;

}




.thead-grey {
    background-color: #f1f1f1;
}

.thead-dyellow {
    background-color: #f1e9ce;
    border-top: 1px solid #f5ecad;
    border-bottom: 1px solid #f2e89a;
}




.thead-blue {
    background-color: #f0f6ff;
    border-top: 1px solid #cbd0d9;
    border-left: 1px solid #cbd0d9;
    border-right: 1px solid #cbd0d9;
}

.thead-red {
    background-color: #fff0f0;
    border-top: 1px solid #cbd0d9;
    border-left: 1px solid #cbd0d9;
    border-right: 1px solid #cbd0d9;
}

.thead-yellow {
    background-color: #fffae7;
    border-top: 1px solid #e7d868;
    border-left: 1px solid #c5b434;
    border-right: 1px solid #c5b434;
}

.thead-yelow hcode {
    color: #31394d;
}

.brd-lft-red {
    border-left: 5px solid #ad4545;
}

.brd-lft-blu {
    border-left: 5px solid #2e5c99;
}
.brd-lft-yel {
    border: 2px solid #e9d48d;
    
}

.ba-btn2[role=button] {
    font-family: open-sans-v15-latin-regular,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .4px;
    border: 1px solid #2e9932;
    border-radius: 2px;
    background-color: transparent;
    color: #2e9932;
    transition: background .4s cubic-bezier(.645,.045,.355,1) 0s,color .4s cubic-bezier(.645,.045,.355,1) 0s,border .4s cubic-bezier(.645,.045,.355,1) 0s;
    padding: 16px 40px;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: auto;
    height: auto;
    display: inline-block;
}

.ba-btn[role=button] {
    font-family: open-sans-v15-latin-regular,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .4px;
    border: 1px solid #2e5c99;
    border-radius: 2px;
    background-color: transparent;
    color: #2e5c99;
    transition: background .4s cubic-bezier(.645,.045,.355,1) 0s,color .4s cubic-bezier(.645,.045,.355,1) 0s,border .4s cubic-bezier(.645,.045,.355,1) 0s;
    padding: 16px 40px;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: auto;
    height: auto;
    display: inline-block;
}

    .ba-btn[role=button]:hover {
        background: #2a78cd;
        color: #fff!important;
        text-decoration:none;
    }
.ba-btn2[role=button]:hover {
    background: #2a78cd;
    border: 1px solid #2e5c99;
    color: #fff !important;
    text-decoration: none;
}
   

    .ba-btn[role=button]:focus {
        border: 1px solid #3472c4;
        outline-color: #3472c4;
    }

    .ba-btn.btn-thin {
        padding: 10px 40px;
    }

.ba-btn.sml {
    padding: 10px 20px;
}


.ba-btn.vsml {
    padding: 4px 20px;
    font-size: 14px;
    
}

.card .button-center {
    margin: 30px;
    margin-bottom: 10px;
    text-align: center;
    min-height: 50px;
}

.panel .button-center {
    margin: 30px;
    margin-bottom: 15px;
    text-align: center;
    min-height: 50px;
    
}


@media only screen and (min-width: 40.063em) {

    .card .button-center {
        margin: 10px auto;
        text-align: center
    }
   
}

@media only screen and ( min-width:767px)  and ( max-width:992px){

    .button-center > .ba-btn {
        padding: 10px 20px;
    }
    .card .button-center {
        margin: 10px auto;
        text-align: center
    }

   
}

@media only screen and ( min-width:767px) {

    .triangle-right..colb2 {
        background-color: #fff;
        
    }

}


.tb a{ cursor:pointer;}

.triangle-right {
    width: 0;
    height: 70px;
    border-top: 35px solid transparent;
    border-left: 35px solid #363d53;
    border-bottom: 35px solid transparent;
    
}


.col {
    display: inline-block;
    float: left;
    height:70px;
}

.coltxt {
    margin-top: 24px;
    margin-bottom: 23px;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 1.42;
    /*line-height: 1.48;*/
    font-size: 16px;
}

.colbl {
    background-color: #363d53;    
    color: #fff;
}

.colp {
    background-color: #402a58;
    color: #fff;
}

.colb2 {
    background-color: #4d5670;
    color: #fff;
}

.colp2 {
    background-color: #593f75;
    color: #fff;
}

.colb3 {
    background-color: #636e8f;
    color: #fff;
}

.colp3 {
    background-color: #735395;
    color: #fff;
}


.colb4 {
    background-color: #7a86ab;    
    color: #fff;
}
.colb5 {
    background-color: #8f99ba;
    color: #fff;
}

.t1p {
    border-left: 35px solid #402a58;
}


.t2 {
    border-left: 35px solid #4d5670;
}

.t2p {
    border-left: 35px solid #593f75;
}


.t3 {
    border-left: 35px solid #636e8f;
}

.t3p {
    border-left: 35px solid #735395;
}

.t4 {
    border-left: 35px solid #7a86ab;
}

.t5 {
    border-left: 35px solid #8f99ba;
}

.tb {
    display: table;
}


.saw-tooth-vertical {
    width: 15px;
    background-image: linear-gradient( 139deg, transparent 15px,#363d53 15px), linear-gradient( 219deg, #363d53 6px, transparent 7px);
    /*background-size: 15px 13px;*/
    background-size: 18px 13px;
    background-repeat: repeat-y;
}

.mt-30{ margin-top:30px;}
.mb-30{ margin-bottom:30px;}

@media only screen and ( max-width:1100px){
    .hideClass{
        display:none;
    }
}


@media only screen and ( max-width:992px) {

    .imgct {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .triangle-right {
        width: 0;
        height: 50px;
        border-top: 25px solid transparent;
        border-left: 20px solid #363d53;
        border-bottom: 25px solid transparent;
    }
    .coltxt {
        margin-top: 14px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
        line-height: 1.42;
        /*line-height: 1.48;*/
        font-size: 14px;
    }
    .col {
        height: 50px;
      
    }

   

.t2 {    border-left: 20px solid #4d5670; }
    .t3 {
        border-left: 20px solid #636e8f;
        
    }
    .t4 {
        border-left: 20px solid #7a86ab;
       
    }
    .t5 {
        border-left: 20px solid #8f99ba;
        
    }

 }


@media only screen and ( max-width:778px) {

    .imgct {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .triangle-right {
        width: 0;
        height: 50px;
        border-top: 25px solid transparent;
        border-left: 20px solid #363d53;
        border-bottom: 25px solid transparent;
    }

    .coltxt {
        margin-top: 14px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
        line-height: 1.42;
        /*line-height: 1.48;*/
        font-size: 14px;
    }

    .col {
        height: 50px;
        min-width: 180px;
    }

    .triangle-right.colb2 {
        background-color: #fff;
    }

    .t2 {
        border-left: 20px solid #4d5670;
        background-color: #fff;
    }

    .t3 {
        border-left: 20px solid #636e8f;
        background-color: #fff;
    }

    .t4 {
        border-left: 20px solid #7a86ab;
        background-color: #fff;
    }

    .t5 {
        border-left: 20px solid #8f99ba;
        background-color: #fff;
    }
}