.subhd:hover {
    color: #A5001E;
    
}

.mob-show-inline {
    display: none;
}
.mob-show {
    display: none;
}

.nav-pushrt {
    margin-right: 30px;
}


    @media only screen and (min-width : 1524px) {

        .rtpush {
            margin-right: 290px;
        }

        .rtpush-close {
            margin-right: 60px;
        }

        .pin-close:before {
            content: "\e6de";
            transform: rotate(45deg);
            position: absolute;
            right: 12px;
        }

        .pin-pn {
            width: 36px !important;
            height: 34px !important;
            min-height: auto !important;
            left: calc(100vw - 52px) !important;
            background: #424142 !important;
            color: #fff;
            font-size: 12px;
            top: 15px;
            border-radius: 6px 0 0 6px;
            transition: transform 200ms cubic-bezier(0.24, 0.22, 0.015, 1.56) 0.2s, background 100ms ease-in-out 0.12s;
        }



        #tbcontent {
            width: 285px;
            position: fixed;
            left: calc(100vw - 315px);
            margin-top: 70px;
            padding: 10px;
            background: #ffffffd9;
            min-height: 200px;
            /* border: 1px solid #d5d5d5; */
            margin-right: 20px;
            margin-left: 10px;
            border-left: 4px solid #c6e1ffbf;
        }

            #tbcontent .tchdr {
                font-weight: 600;
                font-size: .9rem;
            }

        #tb-pgindex li {
            list-style-position: inside;
            padding-left: 20px;
            cursor: pointer;
            font-size: .85rem
        }

            #tb-pgindex li:hover {
                color: #A5001E;
            }
    }

    @media only screen and (max-width : 1524px) {


        #tbcontent {
            display: none;
        }
    }

    @media only screen and (max-width : 1324px) {

        #lnav .pl-25 {
            padding-left: 5px;
        }

        #lnav .pr-25 {
            padding-right: 5px;
        }

        #lnav .bannertron {
            margin-right: -5px;
            margin-left: -5px;
        }

        .wtpanel {
            margin: 10px;
            padding: 15px;
            box-shadow: none !important;
        }

        #rsView .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        #rsView .row {
            margin-right: -15px;
            margin-left: -15px;
        }

            #rsView .row .col-12 {
                padding-left: 0;
                padding-right: 0;
            }

        .rtpush {
            margin-left: 15px;
            margin-right: 15px;
        }

        .rtpush-close {
            margin-left: 10px;
            margin-right: 10px;
        }

        #title {
            font-size: 1.8rem;
        }

        .wtpanel {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .mob-hide {
            display: none;
        }

        .mob-show {
            display: block;
        }

        .mob-show-inline {
            display: inline-block;
        }

        .nav-pushrt {
            margin-right: 40px;
        }

        .nldrpn-lftn-pn {
            left: 0;
        }


        /* .sidebar-nav {
            margin-top: 20px;
        }*/
    }

  