
        body{
            background-color: #fff!important;
        }
        .txtbg {
            position: relative;
            color: #a75d5d14;
            bottom: 59px;
            right: 14px;
            font-size: 4085%;
            font-family: sans-serif;
        }
    